
body {
  background-color: lightblue;
  
}

div {
  width: 700px;
margin: center;
font-family:Helvetica;
background-color: white;
padding: 30px;


}

/* ID selector to select the element with id 'main-header' */
#main-header {
  font-size: 22px;

}

.perspective-questions {
font-style: italic;
}
